* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color:#000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    width: 100%;
    display: block;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 96px;
}

.top-infocard-text {
    max-width: 766px;
}

.top-infocard-subtitle {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.top-infocard-title {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

.top-infocard-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 65px;
    text-align: center;
}

.top-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 74px 94px;
    justify-content: center;
    background: #fff;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.top-image {
    background-color: #E0E0E0;
    height: 286px;
}

.wrapper-image {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 63px 94px 0;
}

.wrapper-image img {
    width: 100%;
    max-width: 360px;
    display: block;
    margin-top: 16px;
}




.bottom-cards-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}


.bottom-cards {
    background: white;
    margin-top: 279px;
    padding: 0 20px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 332px;
    padding: 40px 34px 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 414px) {
    .bottom-cards-wrapper {
        flex-direction: column;
    }

    .bottom-card {
        padding: 80px 24px 0;
    }
    
    .bottom-infocard-image {
    				display: none;
    }

    .wrapper-image {
        flex-wrap: wrap;
        gap: 10px;
        padding: 32px 23px 0;
    }

    .wrapper-image img {
        flex: 1 1 200px;
    }

    .container-image-top-1 {
      flex: 1;
    }
    
 .top-image {
     height: 500px;
 }
 
 .top-cards {
   flex-direction: column;
 }
 
 

}


.bottom-card-image {
    display: block;
    margin-bottom: 14px;
    height: 72px;
}

.bottom-card-description {
    font-weight: 400;
    max-width: 389px;
    font-size: 16px;
    text-align: center
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 0 250px;
}

.foto-mobile {
				width: 100%;
				padding: 0 0 40px;
				
				
}

.bottom-infocard-image {
    width: 100%;
    height: 276px;
}

.bottom-infocard-text {
    max-width: 550px;
}

.bottom-infocard-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    text-align: center;
}

.bottom-infocard-description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 32px;
    text-align: center;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 38px 0;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 414px){
    .main-banner-desktop {
        display: none;
    }

    .bottom-card {
       flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .bottom-cards {
        margin-top: 114px;
        padding: 0 26px;
    }

    .bottom-cards-wrapper {
        flex-direction: column;
    }

    .bottom-card-description {
        font-size: 14px;
    }

    .page-footer {
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .bottom-card-description {
        max-width: 280px;
    }
} 

@media screen and (max-width: 992px){
    .top-infocard{
        flex-direction: column;
        padding: 84px 0px 158px;
    }

    .top-infocard-text{
        margin: 0 0 68px;
    }

    .top-infocard-subtitle{
        font-size: 20px;
    }

    .top-infocard-title{
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-image{
        width: 100%;
        max-width: 240px;
    }

    .bottom-infocard {
        flex-direction: column;
        padding: 80px 0 136px;
    }

    .bottom-infocard-image {
        width: 100%;
        max-width: 596px;
        margin: 0 0 50px;
    }

    .bottom-infocard-title {
        font-size: 24px;
    }

    .bottom-infocard-text {
        padding: 0 26px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text{
        max-width: 520px;
        margin-right: 70px;
    }
    .bottom-infocard-image {
        max-width: 480px;
    }

    .bottom-infocard-text {
        max-width: 400px;
    }
}

@media screen and (min-width: 415px){
    .main-banner-mobile {
        display: none;
    }
    
    .foto-mobile {
      display: none;
    }
    
    .bottom-infocard-image {
      display: block;
    }
}
